.index {
  background-color: #f5f5f5;
}
.swiper {
  position: relative;
} 

.nav {
  background-color: #ffffff;
  padding: 10px 0;
  img {
    width: 48px;
  }
  .adm-grid-item {
    text-align: center;
  }
}

.group {
  h2 {
    padding: 8px;
    position: relative;
    span {
      position: absolute;
      right: 8px;
    }
  }
  .adm-grid {
    padding: 0 8px;
    .adm-grid-item {
      .group-item {
        background-color: #ffffff;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        img {
          width: 55px;
        }
      }
    }
  }
}

.news {
  h2 {
    padding: 8px;
    position: relative;
    span {
      position: absolute;
      right: 8px;
    }
  }
  .adm-list {
    .adm-list-item {
      .adm-list-item-content {
        .adm-list-item-content-main {
          .info {
            color: #8d8c8c;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      
    }
  }
}