/* 全局样式 */
html,body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #333;
    background-color: #fff;
}
*{
  margin: 0;
  padding: 0;
  /* ie怪异盒子content + border + padding */
  box-sizing: border-box;
}

/* :root 选择器匹配文档根元素。在 HTML 中，根元素始终是 html 元素。 */
/* 得益于 CSS 变量强大而灵活的能力，自定义一套 antd-mobile 的主题是非常简单的，
你不需要配置任何编译工具，也不需要安装额外的插件，直接修在 :root 覆盖 CSS 变量就可以了 */
:root:root {
  --adm-color-primary: #63e078;
}
html,
body,
#root,
.App {
  height: 100%;
}
.route-loading {
  padding-top: 100px;
  text-align: center;
}